@{
    ViewData["Title"] = "Home Page";
}
    <h1>@ViewData["Title"]</h1>
<h2 class="display-4 text-center">Welcome</h2>
<br />
<div>
    <img src="~/lib/Images/dragonfood.jpg" />
    <p>Choosing my favorites is always hard when it is a limited amount as I usually have
     more than 5 favorites and have a hard time choosing what to keep and what to bump out.
     Also these are not in a specific order(like: most favorite to least favorite).</p>
</div>